@font-face {
  font-family: "Digi";
  src: url("fonts/ds-digib.ttf");
}

body {
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
  background-color: rgb(218, 218, 255);
}

#chronoContainer {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin: auto;
}

#splitsList {
  width: 10vw;
}

#splitsHeader {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

#lista {
  margin-top: 0;
  margin-left: 1.8vw;
}

.listNode {
  font-size: 2rem;
  font-weight: 100;
}

#clock {
  border-right: 1px solid rgb(154, 136, 191);
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;
  margin: 0 auto;
  padding: 18px 0;
  width: 245px;
  background-color: rgba(91, 47, 209, 1);
}

#sphere {
  border-right: 1px solid rgb(154, 136, 191);
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Digi";
  font-size: 80px;
  height: 210px;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  text-align: center;
  width: 220px;
  background-color: rgb(49, 26, 98);
  color: #fff;
}

.leash {
  background: rgb(40, 39, 55);
  border: 2px solid rgb(88, 83, 150);
  height: 50px;
  margin: 0 auto;
  width: 120px;
}

.leash-top {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leash-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  height: 270px;
  padding-top: 50px;
}

.hole {
  background: #fff;
  border: 2px solid rgb(88, 83, 150);
  border-radius: 100%;
  height: 20px;
  margin: 0 auto 50px;
  width: 20px;
}

.number {
  display: inline-block;
  width: 40px;
}

#miliSeconds {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.mili {
  margin-top: -15px;
  margin-right: 2px;
  font-size: 0.45em;
  width: 17px;
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
  font-size: 0.75rem;
  font-weight: bold;
}

.btn.start,
.btn.stop {
  left: 10px;
}

.btn.reset,
.btn.split {
  right: 10px;
}

.btn.start { background: #5fca5f; }
.btn.stop  { background: #f14949; }
.btn.reset { background: #908e8e; }
.btn.split { background: #0851ab; }
