@font-face {
  font-family: "Digi";
  src: url("fonts/ds-digib.TTF");
}

body {
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
  background-image: url("https://images.pexels.com/photos/301664/pexels-photo-301664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
}

#clock {
  background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  height: 250px;
  margin: 0 auto;
  padding: 18px 0;
  width: 245px;
}

#sphere {
  background-image: url("https://images.pexels.com/photos/978504/pexels-photo-978504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "Digi";
  font-size: 80px;
  height: 210px;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  text-align: center;
  width: 220px;
}

#splits-container {
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 50px;
  border: 4px solid purple;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 150px;
}

#splits-container li {
  padding-bottom: 5px;
  text-align: right;
}

#milliseconds {
  font-size: 36px;
  margin-top: -15px;
  position: absolute;
  right: 20px;
}

.leash {
  background-image: url("https://images.pexels.com/photos/235525/pexels-photo-235525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  /* background: rgb(204, 84, 87); */
  border: 2px solid rgb(134, 59, 61);
  height: 50px;
  margin: 0 auto;
  width: 120px;
}

.leash-top {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leash-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  height: 270px;
  padding-top: 50px;
}

.hole {
  background: rgb(233, 205, 241);
  border: 2px solid rgb(134, 59, 61);
  border-radius: 100%;
  height: 20px;
  margin: 0 auto 50px;
  width: 20px;
}

.number {
  display: inline-block;
  width: 40px;
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
  font-size: 0.7rem;
}

.btn.start,
.btn.stop {
  left: 10px;
}

.btn.reset,
.btn.split {
  right: 10px;
}

.btn.start { background: #2a8b2a; }
.btn.stop  { background: #f14949; }
.btn.reset { 
  background: #5f5e5e; 
  border: 1px solid darkslategrey;
}
.btn.split { background: #0851ab; }
