


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
}

main {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
}



#sphere {
  color: white;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 300;
  height: 215px;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  top: 80px;
  right: 2px;
  text-align: center;
  width: 180px;
}

#splits-container {
  color: black;
  font-size: 20px;
  font-weight: 100;
  min-width: 100px;
  text-align: left;
  
}


.face {
  font-size:12px;
  width: 228px;
  height: 420px;
  background-image: url('http://www.demoapplewatch.com/images/watch3.png'); 
  background-size: contain;
  background-repeat: no-repeat;
}

#splits-container li {
  padding-bottom: 5px;
  text-align: right;
}

#milliseconds {
  font-size: 26px;
  margin-top: -12px;
  position: absolute;
  right: 18px;

}

.number {
  display: inline-block;
  width: 34px;
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
}

.btn.start,
.btn.stop {
  left: 10px;
}

.btn.reset,
.btn.split {
  right: 10px;
}

.btn.start { background: #5fca5f; }
.btn.stop  { background: #f14949; }
.btn.reset { background: #908e8e; }
.btn.split { background: #0851ab; }


